[submodule "applications/sudoku"]
	path = applications/sudoku
	url = https://github.com/rdehaan/solviz-sudoku
        branch = main
[submodule "applications/example"]
	path = applications/example
	url = https://github.com/rdehaan/solviz-example
        branch = main
[submodule "applications/binary-puzzle"]
	path = applications/binary-puzzle
	url = https://github.com/rdehaan/solviz-binary-puzzle
	branch = main
